 *{
     margin: 0;
     padding: 0;
 }
 
 html, body{
     height: 100%;
 }
 
 body{
    background-image: url(img/bg3.jpg);
    background-size: cover;
    color: white;
    font-family: 'Raleway', sans-serif;
 }

 .avatar{
     width: 80px;
     border-radius: 50px;
     border: 3px solid white;
     box-shadow: 0 0 20px white;
 }
 
 h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
 }
 
 h2{
     font-size: 16px;
     
 }

 .profile{
     text-align: center;
     margin-top: 20px;
 }

 .social{
     display: flex;
     justify-content: space-around;
     list-style: none;
     margin: 20px 0;
    }
.social img{
        background-color: white;
        border-radius: 50px;
        padding: 1px;
        box-shadow: 0 0 20px white;
       }
    

 .social img{
     width: 33px;
 }


 .links-list{
     list-style: none;
 }

 .links-list li {
     margin: 10px 20px;
 }

 .links-list li a{
     display: block;
     text-decoration: none;
     background-color: white;
     border-radius: 5px;
     box-shadow: 0 0 20px white;
     padding: 15px 20px;
     font-weight: bold;
     color: #3092ca;
 }

 .links-list li a span{
    color: rgb(102, 103, 104);
    display: block;
    margin-top: 10px;
}

.copy{
    text-align: center;
    margin: 20px;
}